@model Restaurant.Models.Categoory

@{
    ViewData["Title"] = "Details";
    
    Layout = "_Resto";

}

<h1>Details</h1>

<div>
    <h4>Categoory</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoryName)
        </dd>
        <dt class = "col-sm-2">
            <img src=@Url.Content("~/images/" + Model.ImagePath)
                 asp-append-version="true" style="border-radius:20%;"
                 width="100" height="100" />
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImagePath)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
